body {
  --blue-color: #00acdc;
  --header-height: 37px;

  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 75%;
  font-style: normal;
  font-weight: 500;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  line-height: var(--header-height);
  height: var(--header-height);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin: 0 8.5px;
}

a:hover {
  color: var(--blue-color);
}

a.is-active::after {
  content: '';
  position: absolute;
  background-color: var(--blue-color);
  width: 37px;
  height: 4px;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 200%);
}

.last {
  padding-right: 41.5px;
}

.first {
  color: var(--blue-color);
  margin-left: -8px;
}

img {
  margin-top: -1.6px;
  margin-left: 41.5px;
}

ul {
  padding: 0;
}
